<ion-content [fullscreen]="true">
  <ng-container *ngIf="randomJoke; else loading">
    <div>
      <ion-card-title>{{ randomJoke.value }}</ion-card-title>
    </div>
  </ng-container>

  <h2>Categorías</h2>
  <ng-container *ngIf="listCategories; else loading">
    <ion-card *ngFor="let item of listCategories; index as i">
      <ion-card-header>
        <ion-card-title>{{ item }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>
  
  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>